<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d842fc8b42.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <!--ヘッダーの記述-->
     <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更　何がへん？-->

          </ul>
        </nav>

      </div>
    </header>
    <!--ヘッダーの記述-->
    <%= yield %>
    <footer class= "container mt-5">
      <div class="row">
        <div class-"mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>

    </footer>
  </body>
</html>
